* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
  background-color: #f3f7f9;
}

.header-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.container, .header-top, .main-header, .header-navigation, .services, .main-footer {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top a {
  color: inherit;
}

.header-logo {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-top a:not(.header-logo) {
  padding-top: 12px;
  padding-bottom: 13px;
}

.header-search {
  min-width: 270px;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 48px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

input.header-search::-webkit-input-placeholder {
  color: #ffffff;
}

input.header-search::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

.bookmark {
  padding-left: 44px;
  padding-right: 30px;
}

.cart {
  padding-left: 30px;
  padding-right: 30px;
}

.header-top .order {
  background-color: #63a63e;
}

.header-top .order:hover {
  background-color: #5fbb2d;
}

.header-top .order:active {
  color: rgba(225, 225, 225, 0.5);
  background-color: #518534;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 45px;
  padding-top: 45px;
}

.main-header .header-tagline {
  margin: 0;
  padding-left: 50px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-content .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts .phone {
  margin: 0;
  margin-bottom: 5px;
  padding-top: 9px;
  padding-right: 50px;
  padding-bottom: 9px;
  padding-left: 74px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  border-radius: 3px;
}

.contacts .adress {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.main-header .user-navigation {
  display: flex;
  font-size: 21px;
  line-height: 21px;
}

.main-header .user-navigation a {
  color: inherit;
  background-color: #ffffff;
}

.user-login {
  margin-right: 5px;
  padding-top: 12px;
  padding-right: 46px;
  padding-bottom: 12px;
  padding-left: 45px;
}

.user-registration {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.main-header .user-navigation a:hover {
  color: #ee3643;
}

.main-header .user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.header-nav {
  padding-bottom: 60px;
}

.header-navigation-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation-item {
  padding-top: 22px;
  padding-left: 30px;
  padding-bottom: 24px;
  padding-right: 30px;
}

.header-navigation-item a {
  color: #ffffff;
}

.header-navigation-item a:hover {
  background-color: #293449;
}

.header-navigation-item a:active {
  color: rgba(225, 225, 225, 0.5);
  background-color: #293449;
}

.catalog-items {
  margin-bottom: 53px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  list-style: none;
}

.catalog-items-item, .items-wrap-item {
  width: 300px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-left: 22px;
  padding-bottom: 22px;
  padding-right: 35px;
}

.catalog-items-item:first-child {
  background-color: #ffbf47;
}

.catalog-items-item:nth-child(2) {
  background-color: #3bbce3;
}

.catalog-items-item:nth-child(3) {
  background-color: #dc91d8;
}

.items-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-wrap-item:first-child {
  background-color: #8ed78f;
}

.items-wrap-item:last-child {
  background-color: #ffc047;
}

.catalog-item-title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.catalog-item-link {
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(225, 225, 225, 0.1);
}

.catalog-item-link:hover {
  background-color: rgba(225, 225, 225, 0.2);
}

.catalog-item-link:active {
  background-color: rgba(225, 225, 225, 0.3);
}

.slider-item {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;
  width: 620px;
  padding: 0;
}

.slider-bg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 22px;
  padding-left: 24px;
  /* width: 620px; */
  /* height: 266px; */
  background-color: #f4f8f9;
  background-repeat: no-repeat;
  +/* background-position: center; */
}

.slider-bg-first {
  background-image: url('../img/slider-1.jpg');
}

.slider-bg-second {
  /* background-image: url('../img/slider-2.jpg'); */
}

.slider-title {
  margin: 0;
  padding-bottom: 7px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-subtitle {
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
}

.slider-btn {
  margin-top: auto;
}

.catalog-products {
  margin-bottom: 20px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px 28px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #32425c;
  background-color: #f9f5f0;
}

.popular-header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-products-container {
  display: flex;
  justify-content: space-between;
}

.catalog-position {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 225px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #eaeaea;
  margin-left: 20px;
}

.catalog-position:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-position-new{
  position: absolute;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url('../img/new.png');
}

.catalog-position-header {
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-position-active {
  padding-top: 44px;
  padding-bottom: 36px;
}

.catalog-position-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.catalog-position h3 {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 20px;
}

.catalog-position h3 {
  font-size: 18px;
  line-height: 20px;
}

.price {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  padding-bottom: 13px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.new-price {
  position: relative;
  margin-bottom: 20px;
  height: 38px;
  padding-top: 9px;
  padding-right: 35px;
  padding-bottom: 11px;
  padding-left: 35px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.new-price::before {
  content: "";
  position: absolute;
  right: -18px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #ee3643;
  border-top: 20px solid transparent;
  border-bottom: 18px solid transparent;
}

.new-price {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
}

.catalog-position-active {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-position-button {
  min-width: 135px;
  padding-top: 13px;
  padding-bottom: 11px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-position-button-buy {
  margin-bottom: 7px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #518534;
}

.catalog-position-button-buy:hover {
  background-color: #5fbb2d;
}

.catalog-position-button-buy:active {
  background-color: #518534;
}

.catalog-position-button-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}

.catalog-position-button-bookmarks:hover {
  border: 3px solid #32425c;
}

.catalog-position-button-bookmarks:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #cad3d7;
}

.catalog-position-manufacturers {
  margin: 30px;
  /* временно */
  position: relative;
  width: 220px;
  /* временно */
  text-align: center;
  border: 1px solid #eaeaea;
  list-style: none;
}

.catalog-position-manufacturers:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  list-style: none;
}

.catalog-position-manufacturers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.catalog-position-manufacturers:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #f5f8fa;
}

.services-title, .company-title, .company-contacts-title {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-title {
  padding-top: 65px;
  padding-bottom: 35px;
}

.services-descr {
  width: 400px;
  margin: 0;
  padding-bottom: 70px;
}

.services-list {
  display: flex;
  justify-content: flex-start;
}

.services-list {
  margin: 0;
  margin-right: 80px;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 240px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 1px solid #4e637c;
  cursor: pointer;
}

.services-item:last-child {
  border-bottom: none;
}

.services-item-active {
  color: #32425c;
  background-color: #ffffff;
}

.services-item:hover {
  color: #ffffff;
  background-color: #293449;
}

.services-description {
  /* display: flex; */
  width: 100%;
}

.services-description-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.services-description p {
  margin: 0;
  max-width: 375px;
}

.services-description p:first-of-type {
  margin-top: 30px;
}

.services-delivery {
  height: 100%;
  background-image: url('../img/delivery.png');
  background-position: 100%;
  background-repeat: no-repeat;
}

.services-warranty {
  height: 100%;
  background-image: url('../img/warranty.png');
  background-position: 100%;
  background-repeat: no-repeat;
}

.services-credit {
  height: 100%;
  background-image: url('../img/credit.png');
  background-position: 100%;
  background-repeat: no-repeat;
}

.services-credit p {
  margin-bottom: 35px;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 85px;
}

.company-title {
  padding-bottom: 35px;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-info p {
  width: 540px;
  margin: 0;
}

.company-info p:first-of-type {
  padding-bottom: 30px;
}

.company-contacts h3 {
  padding-bottom: 35px;
}

.company-list {
  margin-top: 30px;
  margin-right: 35px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.company-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 35px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.company-item:last-of-type {
  padding-bottom: 0;
}

.company-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.company-contacts {
  display: flex;
  flex-direction: column;
}

.company-contacts p {
  width: 210px;
  margin: 0;
  padding-bottom: 35px;
}

.company-map {
  padding-bottom: 47px;
}

.contacts-button {
  margin: 0;
}

.main-footer {
  font-family: 'Cuprum', Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: inline-block;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-footer.top {
  background-color: #32425c;
}

.footer-left-side p {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 18px;
  color: #ffffff;
}

.footer-nav-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
  padding-top: 40px;
}

.main-nav-item:not(:first-child) {
  padding-left: 60px;
}

.main-nav-item a {
  font-size: 18px;
  color: #ffffff;
}

.secondary-nav:not(:first-child) {
  padding-top: 38px;
}

.secondary-nav-item {
  padding-left: 60px;
}

.secondary-nav-item a {
  font-family: inherit;
  font-size: 18px;
  color: #ffd180;
}

.main-nav-item a:hover, .secondary-nav-item a:hover {
  text-decoration: underline;
}

.main-nav-item a:active, .secondary-nav-item a:active {
  opacity: 0.5;
}

.main-footer.bottom {
  background-color: #293449;
  padding-top: 40px;
  padding-bottom: 30px;
}

.main-footer.bottom p {
  margin: 0;
}

.main-footer.bottom .footer-container {
  align-items: center;
}

.footer-copyright, .footer-feedback, .footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.footer-social a:hover, .footer-social a:active {
  background-color: #ee3643;
}

.footer-vk {
  background-image: url('../img/icon-vk.svg');
}

.footer-fb {
  background-image: url('../img/icon-fb.svg');
}

.footer-inst {
  background-image: url('../img/icon-insta.svg');
}

.footer-feedback {
  width: 140px;
}

.footer-developed {
  width: 110px;
}

.footer-feedback a, .footer-developed a {
  color: #ffd180;
}

.footer-feedback a:hover, .footer-developed a:hover {
  text-decoration: underline;
}

.footer-feedback a:active, .footer-developed a:active {
  color: #ee3643;
}

.modal-write-us {
  display: none;
  position: fixed;
  bottom: 200px;
  right: 0;
  left: 0;
}

.modal-wrapper {
  position: relative;
  width: 620px;
  margin: 10px auto;
  padding-top: 25px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 40px 0 rgba(41, 52, 73, 0.9);
}

.write-us-form-input-wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
  padding-left: 80px;
}

.write-us-form-input-wrap p {
  display: flex;
  flex-direction: column;
}

.write-us-form-input-wrap label {
  padding-bottom: 13px;
}

.modal-write-us input, .write-us-form-message {
  width: 218px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.write-us-form-textarea {
  margin-right: 80px;
  margin-left: 80px;
}

.write-us-form-message {
  margin-top: 13px;
}

.modal-write-us input:hover {
  border: 2px solid #b5b5b5;
}

.modal-write-us input:focus, .write-us-form-message:focus {
  outline: none;
  border: 2px solid #ee3643;
}

.write-us-form-message {
  width: 458px;
  height: 114px;
  padding-top: 13px;
  padding-left: 17px;
}

.write-us-form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 112px; */
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #f4f4f4;
}

.write-us-form-button {
  padding-right: 198px;
  padding-left: 198px;
  border: none;
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-image: url('../img/icon-close.svg');
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-map {
  display: none;
  position: fixed;
  bottom: 350px;
  left: 0;
  right: 0;
}

.modal-map-wrapper {
  position: relative;
  width: 940px;
  height: 447px;
  margin: 0 auto;
  box-shadow: 0 0 40px 0 rgba(41, 52, 73, 0.5);
}

.breadcrumbs {
  display: flex;
  list-style: none;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li:first-of-type a {
  width: 14px;
  height: 12px;
  display: inline-block;
  background-image: url('../img/icon-home.svg');
}

.breadcrumbs li:not(:last-of-type)::after {
  content: '';
  width: 14px;
  height: 12px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filters h3 {
  width: 200px;
  margin: 0;
  padding-left: 19px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-filter-controls {
  position: relative;
  width: 180px;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
  overflow: hidden;
}

.range-filter-scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-filter-bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-filter-toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #d7dcde;
  border-radius: 50%;
  box-shadow: 0 1px 0 0 #d7dcde;
  cursor: pointer;
}

.min-toggle {
  left: 20px;
}

.max-toggle {
  right: 40px;
}

.range-filter-price input {
  width: 95px;
  padding-top: 11px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  background: #f7f3ec;
  border-radius: 3px;
}

.range-filter-price span {
  margin: auto 5px;
}

.manufacturer, .power {
  list-style: none;
}

.manufacturer-item, .power-item {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  padding: 10px 40px;
  font-size: 13px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.sorting {
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sorting h3 {
  font-size: inherit;
  font-weight: 400;
}

.sorting-wrap a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-wrap .sorting-price-active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-wrap a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-arrows a {
  display: inline-block;
}

.sorting-up {
  background-image: url('../img/icon-up-dir.svg');
  background-repeat: no-repeat;
}

.sorting-down {
  background-image: url('../img/icon-down-dir.svg');
  background-repeat: no-repeat;
}

.pagination-list {
  display: flex;
  margin-right: 10px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  padding: 13px 15px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.about-perforators {
  background-color: #f2f6f8;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about-perforators h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.modal-add-product {
  position: relative;
  width: 620px;
  margin: 0 auto;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-top: 7px solid #ff5357;
  box-shadow: 0 10px 40px 0 rgba(41, 52, 73, 0.5);
}

.modal-added {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.modal-added::before {
  content: '';
  width: 66px;
  height: 66px;
  display: inline-block;
  padding-right: 32px;
  background-image: url('../img/form-1.svg');
  background-repeat: no-repeat;
}

.modal-buttons {
  background-color: #f1f1f1;
}

.modal-buttons-continue {
  color: #000000;
  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-image: url('../img/form-2.svg');
  background-color: transparent;
  border: none;
}
